<section class="evaluation__criteria criteria">
    <h2 class="criteria__title title">ERCT Criteria Breakdown</h2>
    <ul class="criteria__level level-criteria">
        <li class="level-criteria__item">
            <article class="level-criteria__article">
                <h3 class="level-criteria__title level-criteria__title--size title">Level 1 Criteria</h3>
                <ul class="level-criteria__stage stage">
                    {% for criterion in page.criteria %}
                    {% if criterion[0] == 'c' or criterion[0] == 'e' or criterion[0] == 't' or criterion[0] == 'd' %}
                    {% include paper-level-section.html %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </article>
        </li>
        <li class="level-criteria__item">
            <article class="level-criteria__article">
                <h3 class="level-criteria__title title">Level 2 Criteria</h3>
                <ul class="level-criteria__stage stage">
                    {% for criterion in page.criteria %}
                    {% if criterion[0] == 's' or criterion[0] == 'i' or criterion[0] == 'y' or criterion[0] == 'b' %}
                    {% include paper-level-section.html %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </article>
        </li>
        <li class="level-criteria__item">
            <article class="level-criteria__article">
                <h3 class="level-criteria__title title">Level 3 Criteria</h3>
                <ul class="level-criteria__stage stage">
                    {% for criterion in page.criteria %}
                    {% if criterion[0] == 'r' or criterion[0] == 'a' or criterion[0] == 'g' or criterion[0] == 'p' %}
                    {% include paper-level-section.html %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </article>
        </li>
    </ul>
</section>