<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__logo footer__logo--contain">
                <a aria-label="Go to Home Page" href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/logo.svg' | relative_url }}" alt="company logo">
                </a>
            </div>
            <div class="footer__line footer__line--contain">
                <img src="{{ '/assets/img/icons/footer-line.svg' | relative_url }}" alt="footer line">
            </div>
        </div>
    </div>
</footer>