<section class="evaluation__request request">
    <h2 class="request__title title">Request an Update or Contact Us</h2>
    <p class="request__text">Are you the author of this study? Let us know if you have any questions or updates.</p>
    <div class="request__links">
        <a href="https://forms.gle/kBqKyS7XFg8E29Wb7" class="request__link link link--black">
            Request Valuation Update<div class="link__icon link__icon--contain"><img src="{{ '/assets/img/icons/file-pen.svg' | relative_url }}" alt="file and pen icon"></div>
        </a>
        <a href="https://forms.gle/y729p6kU8VPjx9ua7" class="request__link link link--white link--icon-right">
            All Other Requests
        </a>
    </div>
</section>