<section class="main__suggest suggest">
    <div class="suggest__container">
        <div class="suggest__content">
            <h2 class="suggest__title title">Have Questions <br> or Suggestions?</h2>
            <div class="suggest__subtitle">Get in Touch</div>
            <div class="suggest__text">
                <p>Have a study you'd like to submit for ERCT evaluation? Found something that could be improved?
                    If you're an author and need to update or correct information about your study, let us know.</p>
            </div>
        </div>
        <div class="suggest__study-actions study-actions">
            <ul class="study-actions__items">
                <li class="study-actions__item">
                    <article class="study-actions__article">
                        <h3 class="study-actions__title title">Submit a Study for Evaluation</h3>
                        <p class="study-actions__text">Share your research with us for review</p>
                    </article>
                </li>
                <li class="study-actions__item">
                    <article class="study-actions__article">
                        <h3 class="study-actions__title title">Suggest Improvements</h3>
                        <p class="study-actions__text">Provide feedback to help us make things better.</p>
                    </article>
                </li>
                <li class="study-actions__item">
                    <article class="study-actions__article">
                        <h3 class="study-actions__title title">Update Your Study</h3>
                        <p class="study-actions__text">If you're the author, let us know about necessary updates or corrections.</p>
                    </article>
                </li>
            </ul>
            <div class="study-actions__links">
                <a href="https://forms.gle/y729p6kU8VPjx9ua7" class="study-actions__link link link--black">Contact Us</a>
            </div>
        </div>
    </div>
</section>