:root {
  /* fonts */
  --title-font-family: 'Poppins', sans-serif;
  --text-font-family: 'Figtree', sans-serif;
  --date-font-family: 'Inter', sans-serif;
  /* colors */
  --primary-title: #050812;
  --primary-text: #1c212e;
  --level-text: #5d6374;
  --tags-first-text: #1a41c2;
  --tags-second-text: #903413;
  --tags-third-text: #263207;

  --homework-page-subtitle-text: #1a1a1a;
  --homework-page-published-date-text: #666;
  --homework-page-link-text: #295bff;
  --homework-page-stage-title: #333333;
  --homework-page-stage-text: #6d717f;

  --burger-color: #2d58e3;

  --primary-bg: #f5f5fc;
  --header-bg: #ffffff;
  --level-first-line-bg: #fceee9;
  --level-second-line-bg: #e9edfc;
  --level-third-line-bg: #e0f4aa;
  --tags-second-bg: #fae0d7;
  --progress-alphabet-bg-active: #bec5d8;
  --level-second-line-border: #d7dffa;
  --level-third-line-border: #d1ee81;

  --active-check-icon-bg: #95c21a;

  --homework-page-criteria-border: #d9d9d9;

  --link-border: #abb1c5;
  --footer-border: #9ca3b5;

  --header-active: #e3e3e8;

  --hero-inner-box-shadow: 0px 4px 38.8px 0px rgba(0, 0, 0, 0.1);
  --progress-circle-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --block-studies-box-shadow: 0px 1px 8px 0px rgba(215, 223, 250, 0.3);
  --published-date-select-box-shadow: 0px 2px 2px 0px var(--header-active);
  --criteria-details-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

  --img-filter: brightness(0) invert(1);
}
