.footer__body {
  border-top: 0.0625rem solid var(--footer-border);
  padding-block: 1.5rem 2.5rem; /* 40/16 */
  display: flex;
  align-items: center;
  column-gap: 3rem; /* 48/16 */
}
.footer__logo {
  inline-size: 8.5rem; /* 136/16 */
  aspect-ratio: 136 / 32;
}
.footer__line {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
@media (min-width: 47.9988em) {
  .footer__container {
    max-inline-size: 86.25rem; /* 1380/16 */
    padding-inline: 2.5rem; /* 40/16 */
  }
}
