.header {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  z-index: 50;
  background-color: var(--header-bg);
}
.header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 3rem; /* 48/16 */
  min-block-size: 4rem; /* 64/16 */
  padding-block: 0.75rem; /* 12/16 */
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo a {
  inline-size: 8.5rem; /* 136/16 */
  aspect-ratio: 136 / 32;
}
.menu ul {
  color: var(--primary-title);
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem; /* 4/16 */
  font-weight: 500;
  line-height: 1.25; /* 125% */
  text-transform: capitalize;
}
.menu ul a {
  padding-inline: 1.5em; /* 24/16 */
  padding-block: 0.625em; /* 10/16 */
  transition: background 0.3s ease;
}
.menu__active {
  background: var(--header-active);
}
@media (any-hover: hover) {
  .menu ul a:hover {
    background: var(--header-active);
  }
}
@media (min-width: 47.9988em) {
  .header__container {
    max-inline-size: 86.25rem; /* 1380/16 */
    padding-inline: 2.5rem; /* 40/16 */
  }
  .menu ul a {
    border-radius: 0.75em; /* 12/16 */
  }
  .icon-menu {
    display: none;
  }
}
@media (max-width: 47.9988em) {
  .open-menu body {
    overflow: hidden;
  }
  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .menu,
  .menu::after {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 100%;
    inline-size: 100%;
    background-color: var(--header-bg);
    transition: left 0.3s ease;
  }
  .menu {
    block-size: 100%;
    padding-block: 7.5rem 2.5rem;
    overflow-y: auto;
  }
  .menu li,
  .menu a {
    inline-size: 100%;
  }
  .menu a {
    text-align: end;
  }
  .menu::after {
    content: '';
    block-size: 4rem; /* 64/16 */
  }
  .open-menu .menu,
  .open-menu .menu::after {
    inset-inline-start: 0;
  }
  .menu ul {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2rem;
    font-size: 2rem;
  }
  .header__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1.5rem; /* 24/16 */
    row-gap: 1rem;
  }
  .icon-menu {
    position: relative;
    z-index: 5;
    display: flex;
    flex-basis: 1.875rem;
    inline-size: 1.875rem;
    flex-shrink: 0;
    flex-direction: column;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    transition: transform 0.3s ease;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    block-size: 0.25rem;
    inline-size: 100%;
    background-color: var(--burger-color);
  }
  .icon-menu span {
    transition: inline-size 0.3s ease, margin-block 0.3s ease, block-size 0.3s ease;

    margin-block: 0.375rem;
  }
  .open-menu .icon-menu span {
    inline-size: 0;
    margin-block: 0;
    block-size: 0;
  }
  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(0.1875rem);
  }
  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-0.1875rem);
  }
}
