@import url('https://fonts.googleapis.com/css?family=Figtree:400,500,600,700,italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap');
@import 'style.css';

.hero {
  padding-block: 2rem 0.75rem; /* 12/24 */
}
.hero__title {
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
  margin-block-end: 0.5rem; /* 8/16 */
  max-inline-size: 53.6875rem; /* 859/16 */
}
.hero__subtitle {
  display: flex;
  column-gap: 0.5rem; /* 8/16 */
  color: var(--homework-page-subtitle-text);
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-block-end: 0.25rem; /* 4/16 */
  margin-top: 1.5rem;
  margin-bottom: 1.0rem;
}
.hero__subtitle:before {
  content: '';
  inline-size: 1.25rem; /* 20/16 */
  block-size: 1.25rem; /* 20/16 */
  background: url('/assets/img/icons/user-pen.svg') center / contain no-repeat;
  flex-shrink: 0;
}
.hero__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.5rem; /* 24/16 */
  row-gap: 0.25rem; /* 4/16 */
  margin-block-end: 2.5rem; /* 40/16 */
}
.hero__published,
.hero__doi,
.hero__date {
  display: flex;
  column-gap: 0.5rem; /* 8/16 */
  color: var(--homework-page-published-date-text);
  font-family: var(--date-font-family);
  font-size: 0.75rem; /* 12/16 */
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}
.hero__published time,
.hero__date time {
  font-size: 0.75rem; /* 12/16 */
  font-weight: 400;
}
.hero__doi span {
  font-size: 0.75rem; /* 12/16 */
  font-weight: 400;
}
.hero__icon {
  display: flex;
  align-items: center;
  column-gap: 0.125rem; /* 2/16 */
}
.hero__icon:before {
  content: '';
  inline-size: 1rem; /* 16/16 */
  block-size: 1rem; /* 16/16 */
  flex-shrink: 0;
  background: url('/assets/img/icons/book-check-grey.svg') center / contain no-repeat;
}
.hero__link,
.hero__share,
.hero__download {
  color: var(--homework-page-link-text);
  font-family: var(--date-font-family);
  font-size: 0.75rem; /* 12/16 */
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
  transition: color 0.3s ease;
}
.hero__link a,
.hero__share a,
.hero__download a {
  display: flex;
  align-items: center;
  column-gap: 0.5rem; /* 8/16 */
}
.hero__svg {
  inline-size: 1rem; /* 16/16 */
  block-size: 1rem; /* 16/16 */
  flex-shrink: 0;
}
.hero__svg img {
  filter: invert(29%) sepia(84%) saturate(3808%) hue-rotate(223deg) brightness(100%) contrast(106%);
}
.hero__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem; /* 8/16 */
  font-size: 0.75rem; /* 12/16 */
  font-weight: 600;
  line-height: 1.333; /* 133.333% */
}
.hero__tags li {
  padding-inline: 0.5rem; /* 8/16 */
  padding-block: 0.25rem; /* 4/16 */
  display: flex;
  column-gap: 0.25rem; /* 4/16 */
  border-radius: 1rem; /* 16/16 */
}
.progress {
  padding-block: 0.75rem;
}
.progress__body {
  display: grid;
  align-items: center;
  column-gap: 2.5rem; /* 40/16 */
  row-gap: 1rem; /* 16/16 */
  border-radius: 1rem; /* 16/16 */
  background: var(--header-bg);
  padding: 1.5rem; /* 24/16 */
}
.progress__circle {
  font-size: 0;
  inline-size: 100%;
  aspect-ratio: 1;
}
.progress__circle text {
  color: var(--primary-text);
  font-family: var(--title-font-family);
  font-size: 1.75rem; /* 28/16 */
  font-weight: 700;
}
.lessons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem; /* 8/16 */
  row-gap: 1.25rem; /* 20/16 */
}
.lessons li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font-family);
  font-size: 2rem; /* 32/16 */
  font-weight: 600;
  line-height: 1.188; /* 118.75% */
  aspect-ratio: 84 / 62;
  border-radius: 0.5rem; /* 8/16 */
  color: var(--link-border);
  background: var(--header-active);
  cursor: pointer;
}
.lessons .lessons__active {
  color: var(--primary-text);
  background: var(--progress-alphabet-bg-active);
  position: relative;
}
.lessons .lessons__inactive {
  color: var(--link-border);
  background: var(--header-active);
  position: relative;
}
.lessons .lessons__active:after,
.lessons .lessons__inactive:after {
  content: '';
  position: absolute;
  inset-block-end: -0.75rem;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-bottom: 0.5rem solid var(--primary-title);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
.lessons__info {
  position: absolute;
  z-index: 1;
  inset-block-start: 4.5rem; /* 72/16 */
  inset-inline-start: -2.875rem; /* 46/16 */
  inline-size: 16.25rem; /* 260/16 */
  padding: 0.5rem; /* 8/16 */
  border-radius: 0.5rem; /* 8/16 */
  background: var(--primary-title);
  color: var(--header-bg);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.lessons__title {
  margin-block-end: 0.25rem; /* 4/16 */
  font-size: 1.125rem; /* 18/16 */
  font-weight: 600;
  line-height: 1.333; /* 133.333% */
  margin-bottom: 1rem;
}
.lessons__text {
  font-family: var(--text-font-family);
  font-size: 1rem; /* 16/16 */
  font-weight: 400;
  line-height: 1.25; /* 125% */
}

.evaluation {
  padding-block: 0.75rem 3.125rem; /* 50/16 */
}
.evaluation__body {
  border-radius: 1rem; /* 16/16 */
  background: var(--header-bg);
  padding-block: 1rem 2rem; /* 32/16 */
  padding-inline: 2rem; /* 32/16 */
}
.evaluation__abstract {
  margin-block-end: 2rem; /* 32/16 */
}
.abstract__title {
  font-size: 1.5rem; /* 24/16 */
  line-height: 1.25; /* 125% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.abstract__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
  margin-block-end: 1.5rem; /* 24/16 */
}
.abstract__link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-inline: 0.9375rem 1.4375rem; /* 23/16 */
  padding-block: 0.4375rem; /* 7/16 */
  border-radius: 0.75rem; /* 12/16 */
  inline-size: fit-content;
}
.link__icon {
  inline-size: 1.5rem; /* 24/16 */
  block-size: 1.5rem; /* 24/16 */
  flex-shrink: 0;
}
.link--black .link__icon img {
  filter: var(--img-filter);
}
.evaluation__criteria {
  margin-block-end: 2rem; /* 32/16 */
}
.criteria {
  padding-block: 2rem; /* 32/16 */
  border-block: 0.0625rem solid var(--homework-page-criteria-border);
}
.criteria__title {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.333; /* 133.333% */
  margin-block-end: 2.5rem; /* 40/16 */
}
.level-criteria {
  display: flex;
  flex-direction: column;
  row-gap: 5rem; /* 80/16 */
}
.level-criteria__title {
  font-size: 2rem; /* 32/16 */
  line-height: 1.188; /* 118.75% */
  margin-block-end: 2rem; /* 32/16 */
}
.level-criteria__title--size {
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
}
.stage {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* 24/16 */
}
.stage__article {
  display: grid;
  column-gap: 1.25rem; /* 20/16 */
  row-gap: 1rem; /* 16/16 */
  align-items: center;
}
.stage__letter {
  text-transform: capitalize;
  color: var(--link-border);
  font-family: var(--date-font-family);
  font-size: 4rem; /* 64/16 */
  font-weight: 600;
  line-height: 0.875;
  text-align: center;
}
.stage__item--active .stage__letter {
  color: var(--primary-text);
}
.stage__title {
  color: var(--homework-page-stage-title);
  font-family: var(--date-font-family);
  font-size: 1.125rem; /* 18/16 */
  font-weight: 600;
  line-height: normal;
}
.stage__list {
  color: var(--homework-page-stage-text);
  line-height: 1.25; /* 125% */
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem; /* 8/16 */
}
.stage__list li {
  display: flex;
  column-gap: 1rem; /* 16/16 */
  margin-bottom: 0.5rem;
}
.stage__list li:nth-child(2) {
  font-style: italic;
}
.stage__list li::before {
  content: '';
  inline-size: 1.5rem; /* 24/16 */
  block-size: 1.5rem; /* 24/16 */
  flex-shrink: 0;
}
.stage__list li:nth-child(1)::before {
  background: url('/assets/img/icons/ban.svg') center / contain no-repeat;
}
.stage__item--active .stage__list li:nth-child(1)::before {
  border-radius: 0.25rem; /* 4/16 */
  background: var(--active-check-icon-bg) url('/assets/img/icons/check-white.svg') center / contain
    no-repeat;
}
.stage__list li:nth-child(3):before {
  background: url('/assets/img/icons/book-text.svg') center / contain no-repeat;
}
.stage__list li:nth-child(2):before {
  background: url('/assets/img/icons/message-square-quote.svg') center / contain no-repeat;
}
.analysis p {
  margin-bottom: 0.5rem;
}
.request__title {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.333; /* 133.333% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.request__text {
  color: var(--homework-page-published-date-text);
  font-family: var(--date-font-family);
  line-height: normal;
  margin-block-end: 2rem; /* 32/16 */
}
.request__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; /* 16/16 */
}
.request__link {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: fit-content;
  column-gap: 0.5rem; /* 8/16 */
  padding-block: 0.4375rem; /* 7/16 */
  padding-inline: 1.4375rem 0.9375rem; /* 15/16 */
}
.link--icon-right {
  padding-inline: 0.9375rem 1.4375rem; /* 15/16 */
}
.suggest {
  padding-block: 3.125rem 4.5rem; /* 72/16 */
}
.suggest__container {
  display: grid;
  column-gap: 8.6875rem; /* 139/16 */
  row-gap: 1.5rem; /* 24/16 */
}
.suggest__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem; /* 16/16 */
}
.suggest__title {
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
}
.suggest__subtitle {
  color: var(--primary-text);
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.2; /* 120% */
}
.suggest__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
.suggest__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
.study-actions__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* 24/16 */
  margin-block-end: 1.5rem; /* 24/16 */
}
.study-actions__item {
  display: flex;
  column-gap: 1.5rem; /* 24/16 */
}
.study-actions__item::before {
  content: '';
  inline-size: 1.5rem; /* 24/16 */
  block-size: 1.5rem; /* 24/16 */
  flex-shrink: 0;
}
.study-actions__item:nth-child(3n + 1):before {
  background: url('/assets/img/icons/book-check.svg') 0 0 / contain no-repeat;
}
.study-actions__item:nth-child(3n + 2):before {
  background: url('/assets/img/icons/message-square-quote.svg') 0 0 / contain no-repeat;
}
.study-actions__item:nth-child(3n):before {
  background: url('/assets/img/icons/user-pen.svg') 0 0 / contain no-repeat;
}
.study-actions__title {
  color: var(--primary-text);
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.333; /* 133.333% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.study-actions__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
@media (any-hover: hover) {
  .lessons .lessons__active:hover:after,
  .lessons .lessons__inactive:hover:after,
  .lessons .lessons__active:hover .lessons__info,
  .lessons .lessons__inactive:hover .lessons__info {
      visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 66.9988em) {
  .suggest__container {
    grid-template-columns: 528fr 462fr;
  }
}
@media (min-width: 47.9988em) {
  .stage__letter {
    grid-row: span 2;
    align-self: start;
  }
  .stage__article {
    grid-template-columns: 3.75rem 1fr;
  }
  .suggest__container {
    max-inline-size: 75.5625rem; /* 1209/16 */
    padding-inline: 2.5rem; /* 40/16 */
  }
}
@media (min-width: 24.3738em) {
  .progress__body {
    grid-template-columns: minmax(6.25rem, 15rem) minmax(15.125rem, 22.5rem); /* 360/16 */
  }
}
@media (max-width: 66.9988em) and (min-width: 47.9988em) {
  .hero {
    padding-block: 1rem 0.75rem; /* 12/16 */
  }
  .suggest__title {
    font-size: 2rem; /* 32/16 */
    line-height: 1.188; /* 118.75% */
  }
  .suggest__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 66.9988em) {
  .evaluation {
    padding-block: 0.75rem 2.5rem; /* 40/16 */
  }
  .suggest {
    padding-block: 2.5rem 5.5rem; /* 88/16 */
  }
  .hero__title {
    font-size: 2rem; /* 32/16 */
    line-height: 1.188; /* 118.75% */
  }
  .progress__body {
    padding: 1rem; /* 16/16 */
  }
  .evaluation__body {
    padding-inline: 1rem; /* 16/16 */
  }
  .abstract__link,
  .request__link {
    min-inline-size: auto;
  }
  .level-criteria__title {
    margin-block-end: 1.5rem; /* 24/16 */
  }
  .stage {
    row-gap: 2.5rem; /* 40/16 */
  }
  .suggest__container {
    max-inline-size: 50rem; /* 800/16 */
    column-gap: 2rem; /* 32/16 */
  }
  .study-actions__links {
    text-align: center;
  }
}
@media (max-width: 47.9988em) {
  .hero__title {
    font-size: 1.5rem; /* 24/16 */
    line-height: 1.333; /* 133.333% */
  }
  .hero__subtitle {
    margin-block-end: 1rem; /* 16/16 */
  }
  .progress__container,
  .evaluation__container {
    padding-inline: 0;
  }
  .progress__body {
    padding-block: 0.5rem; /* 8/16 */
  }
  .evaluation__body {
    padding-block: 1rem; /* 16/16 */
  }
  .criteria__title {
    margin-block-end: 1.5rem; /* 24/16 */
  }
  .level-criteria__title {
    font-size: 1.5rem; /* 24/16 */
    line-height: 1.333; /* 133.333% */
  }
  .stage__article {
    grid-template-columns: 2.5rem 1fr;
    column-gap: 0.875rem; /* 14/16 */
  }
  .stage__letter {
    font-size: 3rem; /* 48/16 */
    line-height: 0.959;
  }
  .stage__list {
    grid-column: span 2;
    padding-inline-start: 0.5rem; /* 8/16 */
  }
  .request__links {
    max-inline-size: 20rem; /* 320/16 */
    margin-inline: auto;
  }
  .request__link {
    inline-size: 100%;
  }
  .suggest__container {
    row-gap: 2rem; /* 32/16 */
  }
  .suggest__title {
    font-size: 1.5rem; /* 24/16 */
    line-height: 1.333; /* 133.333% */
  }
}
@media (max-width: 29.9988em) {
  .lessons__info {
    inset-inline-start: -8rem;
  }
  .progress__body {
    column-gap: 1rem; /* 16/16 */
  }
  .lessons {
    column-gap: 0.25rem; /* 4/16 */
    row-gap: 0.5rem; /* 8/16 */
  }
  .lessons li {
    font-size: 1.125rem; /* 18/16 */
    line-height: 1.333; /* 133.333% */
  }
}
@media (max-width: 24.3738em) {
  .lessons__info {
    inline-size: 12rem;
  }
  .progress__circle {
    inline-size: 6.25rem; /* 100/16 */
  }
}
