@import url('https://fonts.googleapis.com/css?family=Figtree:400,500,600,700,italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap');
@import 'style.css';

.hero {
  padding-block: 2rem 3.125rem; /* 50/16 */
}
.introduction,
.framework,
.criteria-details {
  padding-block: 3.125rem; /* 50/16 */
}
.hero__body {
  border-radius: 1.5rem; /* 24/16 */
  background: var(--header-bg);
  padding-block: 5rem; /* 80/16 */
  padding-inline: 1.5rem; /* 24/16 */
}
.hero__title {
  max-inline-size: 53.5rem; /* 856/16 */
  font-size: 3.5rem; /* 56/16 */
  line-height: 1.071; /* 107.143% */
  margin-inline: auto;
  text-align: center;
}
.introduction__title {
  text-align: left;
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
  margin-block-end: 1rem; /* 16/16 */
}
.introduction__text {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* 24/16 */
  color: var(--homework-page-stage-title);
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 858px;
}
.introduction__text li {
  list-style: inside;
}
.framework__title {
  text-align: left;
  text-transform: capitalize;
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.framework__text {
  text-align: left;
  color: var(--primary-title);
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.2; /* 120% */
}
.framework__text--margin-bottom {
  margin-block-end: 1.5rem; /* 24/16 */
}
.framework__block-level {
  margin-block-end: 1.5rem; /* 24/16 */
}
.framework__links {
  text-align: center;
}
.block-level {
  border-radius: 1.5rem; /* 24/16 */
  background: var(--header-bg);
  max-inline-size: 70.5625rem; /* 1129/16 */
  padding-block: 1.5rem; /* 24/16 */
  padding-inline: 1.5rem; /* 24/16 */
  display: flex;
  flex-direction: column;
  row-gap: 2rem; /* 32/16 */
}
.block-level__row {
  display: grid;
  column-gap: 1.5rem; /* 24/16 */
  row-gap: 1.625rem; /* 26/16 */
}
.block-level__title {
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
  margin-block-end: 0.25rem; /* 4/16 */
}
.block-level__label {
  color: var(--primary-text);
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.block-level__text {
  color: var(--level-text);
  font-size: 0.875rem; /* 14/16 */
  line-height: 1.286; /* 128.571% */
}
.list-cards {
  display: grid;
  gap: 1.5rem; /* 24/16 */
}
.list-cards__article {
  padding: 0.9375rem; /* 15/16 */
  border-radius: 1rem; /* 16/16 */
  block-size: 100%;
}
.block-level__row:nth-child(3n + 1) .list-cards__article {
  background: var(--level-first-line-bg);
  border: 0.0625rem solid var(--level-first-line-bg);
}
.block-level__row:nth-child(3n + 2) .list-cards__article {
  background: var(--level-second-line-bg);
  border: 0.0625rem solid var(--level-second-line-border);
}
.block-level__row:nth-child(3n) .list-cards__article {
  background: var(--level-third-line-bg);
  border: 0.0625rem solid var(--level-third-line-border);
}
.list-cards__title {
  color: var(--primary-text);
  font-family: var(--title-font-family);
  font-size: 1.125rem; /* 18/16 */
  font-weight: 600;
  line-height: 1.4; /* 24/18 */
  margin-block-end: 0.5rem; /* 8/16 */
}
.list-cards__title::first-letter {
  color: var(--primary-title);
  font-size: 2rem; /* 32/16 */
  line-height: 1.188; /* 118.75% */
}
.list-cards__text {
  color: var(--primary-text);
  font-size: 1rem; /* 16/18 */
  line-height: 1.4; /* 140% */
}
.criteria-details__title {
  text-align: left;
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
  margin-block-end: 2.5rem; /* 40/16 */
  text-align: center;
}

.details {
  border-radius: 1rem; /* 16/16 */
  background: var(--header-bg);
  box-shadow: var(--criteria-details-box-shadow);
  padding-block: 2.5rem; /* 40/16 */
  padding-inline: 1.5rem; /* 24/16 */
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem; /* 100/16 */
}
.details__title {
  font-size: 3.5rem; /* 56/16 */
  line-height: 1.071; /* 107.143% */
  margin-inline-start: 0.5rem; /* 8/16 */
  margin-block-end: 2rem; /* 32/16 */
}
.details__title--first {
  margin-block-end: 5rem; /* 80/16 */
}
.details__list {
  display: flex;
  flex-direction: column;
  row-gap: 5rem; /* 80/16 */
}
.details__section-header {
  margin-block-end: 1.5rem; /* 24/16 */
}
.section-header__letter {
  text-transform: capitalize;
  color: var(--primary-text);
  font-family: var(--date-font-family);
  font-size: 4rem; /* 64/16 */
  font-weight: 600;
  line-height: 0.875;
  text-align: center;
  align-self: start;
}
.section-header__top {
  display: grid;
  grid-template-columns: 3.875rem 1fr;
  margin-block-end: 1.5rem; /* 24/16 */
  align-items: center;
}
.section-header__title {
  text-transform: capitalize;
  color: var(--homework-page-stage-title);
  font-size: 2rem; /* 32/16 */
  line-height: 1.187; /* 118.75% */
}
.section-header__body {
  display: grid;
  gap: 1.5rem; /* 24/16 */
}
.section-header__content {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
  display: flex;
  flex-direction: column;
  row-gap: 1rem; /* 16/16 */
}
.section-header__content li {
  position: relative;
  padding-inline-start: 1.5rem; /* 24/16 */
}
.section-header__content li::before {
  content: '';
  position: absolute;
  inset-block-start: 0.5rem; /* 8/16 */
  inset-inline-start: 0.625rem; /* 10/16 */
  inline-size: 0.25rem; /* 4/16 */
  block-size: 0.25rem; /* 4/16 */
  border-radius: 50%;
  background: var(--level-text);
}
.section-header__list {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(4, 3.75rem);
  column-gap: 0.25rem; /* 4/16 */
  row-gap: 0.5rem; /* 8/16 */
  font-size: 2rem; /* 32/16 */
  font-weight: 600;
  line-height: 1.187; /* 118.75% */
  align-self: start;
}
.section-header__list li {
  aspect-ratio: 60 / 40;
  border-radius: 0.25rem; /* 4/16 */
  color: var(--link-border);
  background: var(--header-active);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-header__list .section-header__active {
  color: var(--primary-text);
  background: var(--progress-alphabet-bg-active);
}
.approach {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* 24/16 */
}
.approach__title {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.4; /* 133.333% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.approach__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
.approach__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.0rem; /* 24/16 */
  counter-reset: item;
  padding-left: 0;
}
.approach__list li {
  position: relative;
  padding-left: 1.5rem;
  list-style-type: none;
}

.approach__list li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0;
  font-weight: 600;
  color: var(--primary-text);
}
.approach__subtitle {
  color: var(--primary-text);
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-block-end: 0.25rem; /* 4/16 */
}
.suggest {
  padding-block: 3.125rem 4.5rem; /* 72/16 */
}
.suggest__container {
  display: grid;
  column-gap: 8.6875rem; /* 139/16 */
  row-gap: 1.5rem; /* 24/16 */
}
.suggest__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem; /* 16/16 */
}
.suggest__title {
  font-size: 2.5rem; /* 40/16 */
  line-height: 1.05; /* 105% */
}
.suggest__subtitle {
  color: var(--primary-text);
  font-size: 1.25rem; /* 20/16 */
  line-height: 1.2; /* 120% */
}
.suggest__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
.suggest__text p:not(:last-child) {
  margin-block-end: 0.5rem; /* 8/16 */
}
.study-actions__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* 24/16 */
  margin-block-end: 1.5rem; /* 24/16 */
}
.study-actions__item {
  display: flex;
  column-gap: 1.5rem; /* 24/16 */
}
.study-actions__item::before {
  content: '';
  inline-size: 1.5rem; /* 24/16 */
  block-size: 1.5rem; /* 24/16 */
  flex-shrink: 0;
}
.study-actions__item:nth-child(3n + 1):before {
  background: url('/assets/img/icons/book-check.svg') 0 0 / contain no-repeat;
}
.study-actions__item:nth-child(3n + 2):before {
  background: url('/assets/img/icons/message-square-quote.svg') 0 0 / contain no-repeat;
}
.study-actions__item:nth-child(3n):before {
  background: url('/assets/img/icons/user-pen.svg') 0 0 / contain no-repeat;
}
.study-actions__title {
  color: var(--primary-text);
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.4; /* 133.333% */
  margin-block-end: 0.5rem; /* 8/16 */
}
.study-actions__text {
  color: var(--level-text);
  line-height: 1.25; /* 125% */
}
@media (min-width: 68.4988em) {
  .section-header__top {
    column-gap: 1.5rem; /* 24/16 */
  }
  .details__approach,
  .section-header__body {
    margin-inline-start: 5.375rem; /* 86/16 */
  }
  .section-header__body {
    grid-template-columns: 39.875rem 15.75rem;
  }
}
@media (min-width: 66.9988em) {
  .block-level__row {
    grid-template-columns: 12.3125rem 1fr; /* 197/16 */
  }
  .block-level__level {
    padding-block-start: 0.5rem; /* 8/16 */
  }
  .suggest__container {
    grid-template-columns: 528fr 462fr;
  }
}
@media (min-width: 47.9988em) {
  .introduction__container {
    max-width: 87.25rem; /* 1396/16 */
    padding-inline: 3rem; /* 48/16 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .framework__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-cards {
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
  }
  .suggest__container {
    max-inline-size: 75.5625rem; /* 1209/16 */
    padding-inline: 2.5rem; /* 40/16 */
  }
}
@media (max-width: 66.9988em) and (min-width: 47.9988em) {
  .suggest__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 68.4988em) {
  .section-header__top {
    align-items: center;
    column-gap: 0.5rem; /* 8/16 */
  }
  .details__title--first {
    margin-block-end: 2.5rem; /* 40/16 */
  }
  .section-header__list {
    grid-row: 1;
    padding-inline: 1rem; /* 16/16 */
  }
  .details__list {
    row-gap: 2.5rem; /* 40/16 */
  }
}
@media (max-width: 66.9988em) {
  .hero {
    padding-block: 1rem 2.5rem; /* 40/16 */
  }
  .introduction {
    padding-block: 2.5rem; /* 40/16 */
  }
  .hero__title {
    font-size: 2.5rem; /* 40/16 */
    line-height: 1.2; /* 120% */
    /* max-inline-size: 23.75rem; /* 380/16 */ 
    text-align: left;
  }
  .framework {
    padding-block: 2.5rem; /* 40/16 */
  }
  .introduction__title,
  .framework__title,
  .block-level__title,
  .criteria-details__title {
    font-size: 2rem; /* 32/16 */
    line-height: 1.188; /* 118.75% */
    text-align: left;
  }
  .framework__text--start {
    text-align: left;
    padding-inline: 1rem; /* 16/16 */
  }
  .block-level {
    padding-inline: 1rem; /* 16/16 */
    row-gap: 3rem; /* 48/16 */
  }
  .list-cards {
    gap: 1rem; /* 16/16 */
  }
  .list-cards__text {
    font-size: 1.125rem;
    line-height: 1.6;
}
  .approach__text {
    font-size: 1.125rem;
    line-height: 1.6;
}
  .suggest {
    padding-block: 2.5rem 5.5rem; /* 88/16 */
  }
  .suggest__container {
    max-inline-size: 50rem; /* 800/16 */
    column-gap: 2rem; /* 32/16 */
  }
  .suggest__title {
    font-size: 2rem; /* 32/16 */
    line-height: 1.188; /* 118.75% */
  }
  .study-actions__links {
    text-align: center;
  }
}
@media (max-width: 47.9988em) {
  .hero__container {
    padding-inline: 0;
  }
  .framework__block-level {
    margin-inline: -1rem; /* 16/16 */
  }
  .framework__text--start {
    padding-inline: 0.5rem; /* 8/16 */
  }
  .block-level {
    padding-block: 1.5rem; /* 24/16 */
    row-gap: 3.5rem; /* 56/16 */
  }
  .block-level__level {
    padding-inline: 0.5rem; /* 8/16 */
  }
  .details {
    padding-block: 1.5rem; /* 24/16 */
    margin-inline: -1rem; /* 16/16 */
  }
  .details__title {
    font-size: 2.5rem; /* 40/16 */
    line-height: 1.2; /* 120% */
  }
  .section-header__list {
    padding-inline: 0.5rem; /* 8/16 */
  }
  .section-header__title {
    font-size: 1.75rem; /* 28/16 */
    line-height: 1.357; /* 135.714% */
  }
  .section-header__title span {
    display: none;
  }
  .suggest__container {
    row-gap: 2rem; /* 32/16 */
  }
}
@media (max-width: 29.9988em) {
  .hero__title {
    font-size: 1.75rem; /* 28/16 */
    line-height: 1.428; /* 142.857% */
  }
  .introduction__title,
  .framework__title,
  .block-level__title,
  .criteria-details__title {
    font-size: 1.5rem; /* 24/16 */
    line-height: 1.4; /* 133.333% */
  }
  .details__list {
    row-gap: 2rem; /* 32/16 */
  }
}
@media (max-width: 24.3738em) {
  .framework__links {
    margin-inline: -0.625rem; /* 10/16 */
  }
  .framework__text--start {
    padding-inline: 0;
  }
  .framework__text--start br,
  .suggest__title br {
    display: none;
  }
  .details {
    padding-inline: 1rem; /* 16/16 */
  }
}
